In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from itertools import product
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import numpy as np
from sklearn.metrics import mean_squared_error , r2_score
from math import sqrt
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor, XGBClassifier
import xgboost as xgb
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Carrier,Item Quantity,City,Country,Status,Weight,Shipping Date,Delivery Date,Delivery Duration
0,A,2.0,Jeddah,SA,Delivered,0.0625,2021-09-30,2021-10-02,2
1,A,2.0,Madinah,SA,Delivered,0.3450,2021-09-30,2021-10-03,3
2,A,3.0,Makkah,SA,Delivered,2.1000,2021-09-30,2021-10-03,3
3,B,1.0,Riyadh,SA,Delivered,0.7000,2021-09-30,2021-10-03,3
4,B,2.0,Riyadh,SA,Delivered,1.4000,2021-09-30,2021-10-02,2

In [3]:
df['Carrier'] = df['Carrier'].astype("category")
df['City'] = df['City'].astype("category")
df['Shipping Date'] =  pd.to_datetime(df['Shipping Date'])
df['Year'] = df['Shipping Date'].dt.year.astype("category")
df['Month'] = df['Shipping Date'].dt.month.astype("category")
df['Day'] = df['Shipping Date'].dt.day.astype("category")
df['DayOfWeek'] = df['Shipping Date'].dt.dayofweek.astype("category")

In [4]:
df.drop(['Country', 'Status', 'Delivery Date','Item Quantity', 'Shipping Date'], axis=1, inplace=True)
df.head()

  Carrier     City  Weight  Delivery Duration  Year Month Day DayOfWeek
0       A   Jeddah  0.0625                  2  2021     9  30         3
1       A  Madinah  0.3450                  3  2021     9  30         3
2       A   Makkah  2.1000                  3  2021     9  30         3
3       B   Riyadh  0.7000                  3  2021     9  30         3
4       B   Riyadh  1.4000                  2  2021     9  30         3

In [5]:
df_fast = df[df['Delivery Duration'] <= 7].copy()
df_slow = df[df['Delivery Duration'] > 7].copy()

In [8]:
df_fast['Delivery Duration'].value_counts()

Delivery Duration
1    58897
0    40770
2    38303
3    16637
4     6482
5     2631
6     1308
7      790
Name: count, dtype: int64

In [60]:
y_f = df_fast['Delivery Duration']
X_f = df_fast.drop('Delivery Duration', axis=1)
X_train, X_test, y_train, y_test = train_test_split(
X_f, y_f, test_size=0.2, random_state=42)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 0.8524072532376933

In [44]:
X_train.dtypes

Carrier      category
City         category
Weight        float64
Year         category
Month        category
Day          category
DayOfWeek    category
dtype: object

In [61]:
model = XGBRegressor(enable_categorical=True)
model.fit(X_f, y_f, 
          eval_set=[(X_train, y_train), (X_test, y_test)])

[0]	validation_0-rmse:1.16008	validation_1-rmse:1.16585
[1]	validation_0-rmse:1.07865	validation_1-rmse:1.08524
[2]	validation_0-rmse:1.03156	validation_1-rmse:1.03769
[3]	validation_0-rmse:0.99884	validation_1-rmse:1.00491
[4]	validation_0-rmse:0.97795	validation_1-rmse:0.98363
[5]	validation_0-rmse:0.96262	validation_1-rmse:0.96772
[6]	validation_0-rmse:0.94890	validation_1-rmse:0.95386
[7]	validation_0-rmse:0.94050	validation_1-rmse:0.94473
[8]	validation_0-rmse:0.92899	validation_1-rmse:0.93291
[9]	validation_0-rmse:0.92248	validation_1-rmse:0.92661
[10]	validation_0-rmse:0.91963	validation_1-rmse:0.92356
[11]	validation_0-rmse:0.91406	validation_1-rmse:0.91707
[12]	validation_0-rmse:0.90986	validation_1-rmse:0.91310
[13]	validation_0-rmse:0.90664	validation_1-rmse:0.90990
[14]	validation_0-rmse:0.90497	validation_1-rmse:0.90822
[15]	validation_0-rmse:0.90143	validation_1-rmse:0.90490
[16]	validation_0-rmse:0.89898	validation_1-rmse:0.90255
[17]	validation_0-rmse:0.89305	validation_1-rmse:0.89646
[18]	validation_0-rmse:0.89055	validation_1-rmse:0.89352
[19]	validation_0-rmse:0.88781	validation_1-rmse:0.89069
[20]	validation_0-rmse:0.88558	validation_1-rmse:0.88825
[21]	validation_0-rmse:0.88305	validation_1-rmse:0.88590
[22]	validation_0-rmse:0.88019	validation_1-rmse:0.88320
[23]	validation_0-rmse:0.87783	validation_1-rmse:0.88036
[24]	validation_0-rmse:0.87449	validation_1-rmse:0.87692
[25]	validation_0-rmse:0.87166	validation_1-rmse:0.87418
[26]	validation_0-rmse:0.86987	validation_1-rmse:0.87250
[27]	validation_0-rmse:0.86778	validation_1-rmse:0.87059
[28]	validation_0-rmse:0.86602	validation_1-rmse:0.86899
[29]	validation_0-rmse:0.86449	validation_1-rmse:0.86756
[30]	validation_0-rmse:0.86306	validation_1-rmse:0.86609
[31]	validation_0-rmse:0.86123	validation_1-rmse:0.86429
[32]	validation_0-rmse:0.85998	validation_1-rmse:0.86296
[33]	validation_0-rmse:0.85827	validation_1-rmse:0.86094
[34]	validation_0-rmse:0.85702	validation_1-rmse:0.85983
[35]	validation_0-rmse:0.85525	validation_1-rmse:0.85812
[36]	validation_0-rmse:0.85356	validation_1-rmse:0.85646
[37]	validation_0-rmse:0.85186	validation_1-rmse:0.85463
[38]	validation_0-rmse:0.85095	validation_1-rmse:0.85352
[39]	validation_0-rmse:0.84988	validation_1-rmse:0.85248
[40]	validation_0-rmse:0.84855	validation_1-rmse:0.85113
[41]	validation_0-rmse:0.84750	validation_1-rmse:0.85002
[42]	validation_0-rmse:0.84637	validation_1-rmse:0.84914
[43]	validation_0-rmse:0.84559	validation_1-rmse:0.84821
[44]	validation_0-rmse:0.84452	validation_1-rmse:0.84705
[45]	validation_0-rmse:0.84376	validation_1-rmse:0.84612
[46]	validation_0-rmse:0.84240	validation_1-rmse:0.84446
[47]	validation_0-rmse:0.84084	validation_1-rmse:0.84275
[48]	validation_0-rmse:0.83996	validation_1-rmse:0.84188
[49]	validation_0-rmse:0.83915	validation_1-rmse:0.84099
[50]	validation_0-rmse:0.83861	validation_1-rmse:0.84039
[51]	validation_0-rmse:0.83764	validation_1-rmse:0.83926
[52]	validation_0-rmse:0.83666	validation_1-rmse:0.83820
[53]	validation_0-rmse:0.83584	validation_1-rmse:0.83731
[54]	validation_0-rmse:0.83463	validation_1-rmse:0.83627
[55]	validation_0-rmse:0.83399	validation_1-rmse:0.83546
[56]	validation_0-rmse:0.83309	validation_1-rmse:0.83473
[57]	validation_0-rmse:0.83245	validation_1-rmse:0.83403
[58]	validation_0-rmse:0.83186	validation_1-rmse:0.83333
[59]	validation_0-rmse:0.83141	validation_1-rmse:0.83285
[60]	validation_0-rmse:0.83092	validation_1-rmse:0.83231
[61]	validation_0-rmse:0.83044	validation_1-rmse:0.83182
[62]	validation_0-rmse:0.82978	validation_1-rmse:0.83118
[63]	validation_0-rmse:0.82893	validation_1-rmse:0.83046
[64]	validation_0-rmse:0.82840	validation_1-rmse:0.82988
[65]	validation_0-rmse:0.82780	validation_1-rmse:0.82914
[66]	validation_0-rmse:0.82689	validation_1-rmse:0.82821
[67]	validation_0-rmse:0.82623	validation_1-rmse:0.82757
[68]	validation_0-rmse:0.82562	validation_1-rmse:0.82700
[69]	validation_0-rmse:0.82515	validation_1-rmse:0.82655
[70]	validation_0-rmse:0.82436	validation_1-rmse:0.82575
[71]	validation_0-rmse:0.82366	validation_1-rmse:0.82513
[72]	validation_0-rmse:0.82304	validation_1-rmse:0.82458
[73]	validation_0-rmse:0.82253	validation_1-rmse:0.82402
[74]	validation_0-rmse:0.82188	validation_1-rmse:0.82325
[75]	validation_0-rmse:0.82139	validation_1-rmse:0.82260
[76]	validation_0-rmse:0.82083	validation_1-rmse:0.82187
[77]	validation_0-rmse:0.82016	validation_1-rmse:0.82126
[78]	validation_0-rmse:0.81959	validation_1-rmse:0.82052
[79]	validation_0-rmse:0.81901	validation_1-rmse:0.81993
[80]	validation_0-rmse:0.81846	validation_1-rmse:0.81947
[81]	validation_0-rmse:0.81803	validation_1-rmse:0.81906
[82]	validation_0-rmse:0.81748	validation_1-rmse:0.81857
[83]	validation_0-rmse:0.81689	validation_1-rmse:0.81813
[84]	validation_0-rmse:0.81654	validation_1-rmse:0.81776
[85]	validation_0-rmse:0.81583	validation_1-rmse:0.81714
[86]	validation_0-rmse:0.81538	validation_1-rmse:0.81659
[87]	validation_0-rmse:0.81491	validation_1-rmse:0.81612
[88]	validation_0-rmse:0.81456	validation_1-rmse:0.81580
[89]	validation_0-rmse:0.81409	validation_1-rmse:0.81528
[90]	validation_0-rmse:0.81364	validation_1-rmse:0.81472
[91]	validation_0-rmse:0.81319	validation_1-rmse:0.81424
[92]	validation_0-rmse:0.81281	validation_1-rmse:0.81394
[93]	validation_0-rmse:0.81244	validation_1-rmse:0.81351
[94]	validation_0-rmse:0.81208	validation_1-rmse:0.81324
[95]	validation_0-rmse:0.81161	validation_1-rmse:0.81279
[96]	validation_0-rmse:0.81109	validation_1-rmse:0.81229
[97]	validation_0-rmse:0.81059	validation_1-rmse:0.81179
[98]	validation_0-rmse:0.81017	validation_1-rmse:0.81141
[99]	validation_0-rmse:0.80979	validation_1-rmse:0.81102

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=True, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [62]:
model.save_model("model_sklearn.json")

In [64]:
model2 = xgb.XGBRegressor()
model2.load_model("model_sklearn.json")

In [75]:
list(X_test.head(1).values)

[array(['W', 'Riyadh', 2.56, 2023, 5, 24, 2], dtype=object)]

In [21]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y_test.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X_test.columns: 
    df_pred[i] = X_test[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','preds']].groupby('true').agg(mean=('preds',np.mean),
                                              stdv=('preds',np.std),
                                              min=('preds',np.min),
                                              max=('preds',np.max),
                                             )

          mean      stdv  min  max
true
0     0.128866  0.348362  0.0  3.0
1     0.740577  0.545264  0.0  4.0
2     1.402866  0.702052  0.0  4.0
3     1.902292  0.861151  0.0  5.0
4     2.333587  1.077441  0.0  5.0
5     2.581921  1.241717  0.0  5.0
6     2.772549  1.390077  0.0  6.0
7     3.029412  1.607771  0.0  6.0

In [29]:
from sklearn.utils import resample

time_4 = df_fast[(df_fast['Delivery Duration'] == 4)]
time_5 = df_fast[(df_fast['Delivery Duration'] == 5)]
time_6 = df_fast[(df_fast['Delivery Duration'] == 6)]
time_7 = df_fast[(df_fast['Delivery Duration'] == 7)]


    
upsampled_time_4 = resample(time_4,
                             replace=True,
                             n_samples=7000)


upsampled_time_5 = resample(time_5,
                             replace=True,
                             n_samples=5000)


upsampled_time_6 = resample(time_6,
                             replace=True,
                             n_samples=4000)


upsampled_time_7 = resample(time_7,
                             replace=True,
                             n_samples=3000)

In [30]:
new_df_fast = pd.concat([upsampled_time_4,upsampled_time_5,upsampled_time_6,upsampled_time_7,
                         df_fast[df_fast['Delivery Duration'] <=3 ]],axis=0)
new_df_fast['Delivery Duration'].value_counts()

Delivery Duration
1    58897
0    40770
2    38303
3    16637
4     7000
5     5000
6     4000
7     3000
Name: count, dtype: int64

In [31]:
y_f = new_df_fast['Delivery Duration']
X_f = new_df_fast.drop('Delivery Duration', axis=1)
X_train, X_test, y_train, y_test = train_test_split(
X_f, y_f, test_size=0.2, random_state=42)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 0.9831535289501847

In [37]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y_test.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X_test.columns: 
    df_pred[i] = X_test[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','err']].groupby('true').agg(mean=('err',np.mean),
                                             stdv=('err',np.std),
                                              min=('err',np.min),
                                              max=('err',np.max),
                                             )

          mean      stdv  min  max
true
0     0.175600  0.418454  0.0  3.0
1     0.400051  0.511277  0.0  4.0
2     0.658175  0.651848  0.0  3.0
3     1.052427  0.831257  0.0  4.0
4     1.462191  1.046219  0.0  4.0
5     2.025559  1.272720  0.0  5.0
6     2.582697  1.518936  0.0  6.0
7     2.930743  1.683080  0.0  7.0

In [80]:
y_f = df_slow['Delivery Duration']
X_f = df_slow.drop('Delivery Duration', axis=1)
X_train, X_test, y_train, y_test = train_test_split(
X_f, y_f, test_size=0.2, random_state=42)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 5.245974554480871

In [81]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y_test.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X_test.columns: 
    df_pred[i] = X_test[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','err']].groupby('true').agg(mean=('err',np.mean),
                                             stdv=('err',np.std),
                                              min=('err',np.min),
                                              max=('err',np.max),
                                             )

           mean      stdv   min   max
true
10     1.500000  1.732051   0.0   6.0
11     2.228571  2.015903   0.0  11.0
12     2.117647  1.317306   0.0   5.0
13     4.500000  2.081666   2.0   7.0
14     4.666667  2.503331   0.0   7.0
15     3.600000  2.073644   1.0   6.0
16     4.000000  1.870829   1.0   6.0
17     4.250000  3.304038   0.0   8.0
18     6.333333  5.507571   1.0  12.0
19    10.666667  1.527525   9.0  12.0
20    10.000000       NaN  10.0  10.0
21    11.000000       NaN  11.0  11.0
22    11.000000       NaN  11.0  11.0
23    13.000000       NaN  13.0  13.0
24    12.000000  2.828427  10.0  14.0
36    21.000000       NaN  21.0  21.0
39    31.000000       NaN  31.0  31.0
41    33.000000       NaN  33.0  33.0
8      1.949367  3.467426   0.0  22.0
9      2.238095  3.333566   0.0  19.0

In [82]:
y_f = df['Delivery Duration']
X_f = df.drop('Delivery Duration', axis=1)
X_train, X_test, y_train, y_test = train_test_split(
X_f, y_f, test_size=0.2, random_state=42)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 1.1542509919542023

In [84]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y_test.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X_test.columns: 
    df_pred[i] = X_test[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','err']].groupby('true').agg(mean=('err',np.mean),
                                             stdv=('err',np.std),
                                              min=('err',np.min),
                                              max=('err',np.max),
                                             ).sort_values('mean')

           mean      stdv   min   max
true
0      0.145620  0.391323   0.0   6.0
1      0.408663  0.578045   0.0  25.0
2      0.676659  0.665416   0.0  11.0
3      1.102222  0.832386   0.0   5.0
4      1.633962  1.097054   0.0   4.0
5      2.294224  1.298936   0.0   5.0
6      2.935484  1.496241   0.0   6.0
7      3.562092  1.935914   0.0   7.0
8      3.929412  2.487053   0.0   8.0
10     4.800000  3.220623   1.0   9.0
9      5.760000  2.352246   0.0   9.0
11     6.782609  3.147243   2.0  10.0
13     8.727273  2.686667   5.0  12.0
12     9.000000  2.708013   3.0  12.0
15    11.666667  1.527525  10.0  13.0
14    11.714286  1.112697  10.0  13.0
16    14.000000  0.000000  14.0  14.0
17    14.333333  0.577350  14.0  15.0
19    15.500000  0.707107  15.0  16.0
18    15.800000  0.836660  15.0  17.0
21    18.750000  1.892969  16.0  20.0
24    20.500000  2.121320  19.0  22.0
23    21.000000       NaN  21.0  21.0
35    32.000000       NaN  32.0  32.0
50    50.000000       NaN  50.0  50.0

In [88]:
df['Delivery Duration'].value_counts()

Delivery Duration
1     58897
0     40770
2     38303
3     16637
4      6482
5      2631
6      1308
7       790
8       408
9       223
10      176
11      122
12       97
13       55
14       26
15       21
18       19
16       17
17       17
19       10
21        9
24        6
23        5
20        5
35        3
33        2
29        2
22        2
41        1
27        1
80        1
77        1
25        1
39        1
36        1
57        1
28        1
50        1
26        1
56        1
45        1
Name: count, dtype: int64

In [95]:
from sklearn.utils import resample

df_slow = df[(df['Delivery Duration'] > 7)]


ls_df = []
for i in range(7,81):
    if i in list(df['Delivery Duration'].value_counts().index):
        duration_df = df[df['Delivery Duration'] == i]
        upsampled_data = resample(duration_df,
                      replace=True,
                  n_samples= int(1.1*len(duration_df) + 200))
        ls_df.append(upsampled_data)

In [98]:
new_df = pd.concat([*ls_df, df[df['Delivery Duration'] <= 7]],axis=0)
# new_df
# new_df['Delivery Duration'].value_counts()

In [99]:
y_f = new_df['Delivery Duration']
X_f = new_df.drop('Delivery Duration', axis=1)
X_train, X_test, y_train, y_test = train_test_split(
X_f, y_f, test_size=0.2, random_state=42)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X_train, y_train)
xgb_preds = xgb_model.predict(X_test)
rmse = mean_squared_error(y_test, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 2.082489687599943

In [100]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y_test.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X_test.columns: 
    df_pred[i] = X_test[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','err']].groupby('true').agg(mean=('err',np.mean),
                                             stdv=('err',np.std),
                                              min=('err',np.min),
                                              max=('err',np.max),
                                             ).sort_values('mean')

           mean      stdv   min   max
true
0      0.312722  1.354201   0.0  48.0
1      0.638692  1.402161   0.0  68.0
2      0.904535  1.384230   0.0  46.0
57     1.000000  0.000000   1.0   1.0
56     1.000000  0.000000   1.0   1.0
39     1.000000  0.000000   1.0   1.0
80     1.000000  0.000000   1.0   1.0
26     1.000000  0.000000   1.0   1.0
25     1.000000  0.000000   1.0   1.0
27     1.000000  0.000000   1.0   1.0
3      1.334121  1.222947   0.0  18.0
4      1.839439  1.589485   0.0  17.0
41     2.000000  0.000000   2.0   2.0
45     2.000000  0.000000   2.0   2.0
50     2.000000  0.000000   2.0   2.0
28     2.000000  0.000000   2.0   2.0
22     2.297297  1.506742   1.0   4.0
5      2.642726  3.421413   0.0  64.0
6      2.978903  1.668368   0.0   6.0
7      3.056235  2.036256   0.0   9.0
8      3.851240  2.770864   0.0  17.0
20     4.000000  2.791613   2.0   9.0
10     4.210526  3.112623   1.0  10.0
24     4.452381  2.380842   1.0   8.0
9      4.863158  2.591354   0.0  12.0
23     5.444444  2.961124   1.0  10.0
36     6.000000  0.000000   6.0   6.0
11     6.180328  2.980538   1.0  10.0
35     6.457143  5.882891   2.0  14.0
19     6.500000  2.981651   2.0  10.0
12     6.551724  3.250762   0.0  12.0
21     6.820000  4.322178   1.0  14.0
29     7.138889  6.582022   1.0  14.0
16     7.163636  2.929819   2.0  13.0
15     7.558140  3.361564   2.0  13.0
13     7.583333  3.104353   1.0  12.0
77     8.000000  0.000000   8.0   8.0
18     8.142857  4.116987   1.0  14.0
14     8.250000  2.589426   1.0  12.0
17     8.339286  3.728401   2.0  15.0
33    11.000000  0.000000  11.0  11.0

In [6]:
y = df['Delivery Duration']
X = df.drop('Delivery Duration', axis=1)
xgb_model = XGBRegressor(enable_categorical=True)
xgb_model.fit(X, y)
xgb_preds = xgb_model.predict(X)
rmse = mean_squared_error(y, xgb_preds, squared=False)
print(f"RMSE: {rmse}")

RMSE: 1.0914957936758252

In [12]:
df_pred = pd.DataFrame()
df_pred['preds'] = np.floor(xgb_preds)
df_pred['preds'] = df_pred['preds'].replace({-1:0})
df_pred['true'] = y.values
df_pred['err'] = np.absolute(df_pred['true'] - df_pred['preds'])
for i in X.columns: 
    df_pred[i] = X[i].values
df_pred.true = df_pred.true.astype(str)
df_pred[['true','err']].groupby('true').agg(mean=('err',np.mean),
                                             stdv=('err',np.std),
                                              min=('err',np.min),
                                              max=('err',np.max),
                                             ).sort_values('mean').to_csv('error.csv')

In [11]:
xgb_model.save_model("reg_model.json")